 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
 }

.navelement{
    display: inline;
    font-size: 1.5rem;
    margin-inline: 1rem;
}

#logo{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}

#loginlink{
    float: right;
}
a:link {color: #36AA69;}     
a:visited {color: #36AA69;}   
a:hover {color: #36AA69;}     
a:active {color: #36AA69;}    
a {text-decoration: none;} 

body{
    background-color: #2F2F2F;
    height:100%;
    width:100%;
    overflow: hidden;
}
.kart{
    position:relative;
    height:900px;
    width: 100%;
    margin: 0 auto;
}

#gmap_canvas{
    position: absolute;
    border-radius: 20px;
    margin: 5%;
    margin-top: 1%;
    height: 85%;
    width: 90%;
}

#utleieknapp{
    position: absolute;
    background-color: #36AA69;
    bottom: 17%;
    right: 10%; 
    height: 35px;
    width:100px;
    border-radius: 10px;
    border-style: hidden;
}
#utleieknapp_text{
    margin: 0 auto; 
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}

.produktinfo{
    width: 90%;
    padding:5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.bil{
    text-align: center;
    position: relative;
    border-radius: 15px;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #36AA69;
}
.båt{
    text-align: center;
    position: relative;
    border-radius: 15px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #36AA69;
}

.elsykkel{
    text-align: center;
    position: relative;
    border-radius: 15px;
    grid-area: 1 / 3 / 2 / 4;
    background-color: #36AA69;
}

.produkt-container {
    width: 80%;
    height: 300px;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    }
    
#produkt-tittel{
    position: absolute;
    width:100%;
    color: #2F2F2F;
    bottom: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.medlemskap-container {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: thin;
    width: 80%;
    height: 300px;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    }

.bildeling{
    text-align: center;
    position: relative;
    border-radius: 15px;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #36AA69;
}
#medlemskap-tittel{
    position: absolute;
    width:100%;
    color: #36AA69;
    top: 0%;
    margin-top: -20%;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}
#velg-medlemskap{
    text-align: center;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
    border-style: hidden;
}

#velg-knapp{
    background-color: #36AA69;
    border-style: hidden;
    border-radius: 10px;
    margin-top: 3%;
    font-size: 1rem;
    font-weight: bolder;
    color: #2F2F2F;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
